*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

/* css of intro-1 section started */

.intro-1{
    height: 600px;
    width: 100%;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
}
.first-half{
    flex-basis: 50%;
    padding-left: 20px;
}
.first-half h1{
    font-size: 40px;
}
.hire-btn{
    padding: 7px 16px;
    border: 2px solid orange;
    border-radius: 0 15px;
    background-image: linear-gradient(orange, tomato);
}
.hire-btn a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.second-half{
    flex-basis: 50%;
    padding-left: 20px;
}

.second-half img{
    width: 90%;
}

/* css of intro-1 section ended */

/* css of intro-1 section started */
.intro-2{
    width: 100%;
    height: 600px;
    display: flex;
    margin-top: 5%;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.first-half-1{
    flex-basis: 50%;
}
.first-half-1 img{
    width: 90%;
    padding-left: 20px;
}
.second-half-2{
    flex-basis: 50%;
    margin-top: 5%;
    padding-left: 20px;
}
.cv-btn{
    padding: 7px 16px;
    border: 2px solid orange;
    border-radius: 0 15px;
    background-image: linear-gradient(tomato, orange);
}
.cv-btn a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
/* css of intro-2 section ended */
